{% extends 'base.html' %}

{% block neirong %}
{% load static %}
<div class="container py-3">
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} text-center" role="alert">
        {{ message }}
      </div>
      {% endfor %}
  {% endif %}
  <div class="card bg-dark text-white">
    <img src="{% static "img/cat.jpg" %}" class="card-img" alt="" >
    <div class="card-img-overlay">
      <h3 class="card-title">Chatting Chatting</h3>
      <p>Start your chatting here</p>
      <center>
        <h2 class="py-3">登录会话空间</h2>
        <div class="card" style="width:18rem;opacity:0.6;">
          <form class="" action="/login" method="post">
            {% csrf_token %}
            <div class="card-body">
              <div class="input-group py-2">
                <input type="text" class="form-control" aria-label="" name="name">
              </div>
              <div class="input-group py-2">
                <input type="password" class="form-control" aria-label="" name="password">
              </div>
              <button type="submit" class="btn btn-outline-secondary py-2">登录</button>
            </div>
          </form>
        </div>
        <p class="py-3">创建新账户，点击<a href="/register"> 注册</a></p>
      </center>

    </div>
  </div>
</div>
{% endblock %}
